.apresentacao {
    background-color: var(--cor-preto-s);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    padding: 0 10rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.headline h1 {
    color: var(--cor-branco);
    font-size: 2.5rem;
    font-family: var(--montserrat);
    max-width: 33rem;
}

span {
    color: var(--cor-verde);
    font-family: var(--montserrat);
    font-weight: 700;
}

.headline p {
    color: var(--cor-branco);
    font-size: 0.8rem;
    font-family: var(--lato);
    max-width: 33rem;
    margin: 1rem 0 1.8rem 0;
    line-height: 1.5;
}

.headline a {
    background: linear-gradient(90deg, rgba(118, 167, 110, 1) 0%, rgba(147, 198, 138, 0.375875350140056) 100%);
    color: var(--cor-branco);
    height: 2.5rem;
    width: 100%;
    max-width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: .20s;
    font-family: var(--lato);
    font-size: 0.9rem;
}

.content img {
    width: 100%;
    max-width: 35rem;
    object-fit: contain;
}


@media screen and (max-width: 768px) {
    .apresentacao {
        height: 110vh;
    }

    .content {
        padding: 0 1rem;
        flex-direction: column;
        gap: 4.3rem;
    }

    .headline p {
        max-width: 80vw;
    }

    .content img {
        max-width: 80vw;
    }
}