.diferencial {
    background-color: var(--cor-preto-s);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-diferencial {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
}

.content-diferencial img {
    width: 100%;
    max-width: 33rem;
    object-fit: contain;

}

.descricao {
    width: 100%;
    max-width: 30rem;
}

.descricao p {
    color: var(--cor-branco);
    font-family: var(--lato);
    font-weight: 300;
    margin: 1rem 0 3rem 0;
}

.descricao a {
    background: linear-gradient(90deg, rgba(118, 167, 110, 1) 0%, rgba(147, 198, 138, 0.375875350140056) 100%);
    color: var(--cor-branco);
    height: 2.5rem;
    width: 100%;
    max-width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: .20s;
    font-family: var(--lato);
    font-size: 0.9rem;
}


@media screen and (max-width: 1000px) {
    .content-diferencial {
        padding: 0 2rem;
        flex-direction: column;
        gap: 3rem;
    }
}