nav {
    display: flex;
    width: 100vw;
    height: 4.5rem;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 9999;
    top: 0;
    background-color: var(--cor-preto);
    box-shadow: 0px 0px 10px -6px #000;
    padding: 0 10rem;
}

.content-logo {
    width: 100%;
    display: flex;
}

nav img {
    width: 100%;
    max-width: 100px;
}

.opcoes {
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: start; */
}

.opcoes a {
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 0.9rem;
    margin: 0 0 0 28px;
    font-family: var(--lato);
    font-weight: 500 !important;
    opacity: 0.6;
}

.opcoes a:hover {
    opacity: 1;
    transition: .20s;
}

.acoes-menu {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 1rem;
}

.acoes-menu a.btnFaleConosco {
    background-color: transparent;
    color: var(--cor-branco);
    border: 1px solid var(--cor-branco);
    height: 2.5rem;
    width: 100%;
    max-width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: .20s;
    font-family: var(--lato);
    font-size: 0.9rem;
}

.acoes-menu a.btnFaleConosco:hover {
    background-color: var(--cor-amarelo);
}

.acoes-menu a.btnContratar {
    background: linear-gradient(90deg, rgba(118, 167, 110, 1) 0%, rgba(147, 198, 138, 0.375875350140056) 100%);
    color: var(--cor-branco);
    height: 2.5rem;
    width: 100%;
    max-width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: .20s;
    font-family: var(--lato);
    font-size: 0.9rem;
}

.acoes-menu a.btnContratar:hover {
    background-color: var(--cor-amarelo);
}


@media screen and (max-width: 768px) {
    nav {
        padding: 0 2rem;
    }
    .content-logo .opcoes a {
        display: none;
    }
    .acoes-menu {
        display: none;
    }
}