.servicos {
    background-color: var(--cor-preto-s);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}

.content-servicos .titulo {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    margin: 0 0 3rem 0;
}

.titulo h2 {
    color: var(--cor-branco);
    font-size: 2rem;
    font-family: var(--montserrat);
    max-width: 22rem;
}

.titulo h2 span {
    color: var(--cor-verde);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

.cards-servicos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.cards-servicos p {
    color: var(--cor-branco);
    font-size: 0.8rem;
    font-family: var(--lato);
    max-width: 33rem;
    margin: 1rem 0 1.8rem 0;
    line-height: 1.5;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(33.3333% - 20px);
    width: 100%;
    max-width: 42rem;
    gap: 13px;
    padding: 35px 20px;
    background: linear-gradient(to top left, #212121, #333333);
}

.titulo-card {
    display: flex;
}

.titulo-card img {
    width: 100%;
    max-width: 1.3rem;
}

.linha {
    background-color: var(--cor-verde);
    height: 1px;
}

.titulo-card h4 {
    color: var(--cor-branco);
    margin: 0 0 0 10px;
    font-family: var(--montserrat);
}

@media screen and (max-width: 768px) {
    .servicos {
        height: auto;
    }

    .content {
        padding: 0 1.5rem;
        flex-direction: column;
    }

    .content-servicos {
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;
    }

    .content-servicos .titulo {
        width: 90vw;
    }

    .titulo h2 {
        font-size: 1.7rem;
        max-width: 80vw;
    }

    .cards-servicos {
        gap: 15px;
        flex-direction: column;
    }

    .card {
        flex-direction: column;
        flex: 0px !important;
        max-width: 90vw !important;
        padding: 25px 20px;
    }
}